*
{
    background-image: url(https://i.pinimg.com/736x/7e/ed/99/7eed9926be88cf56e377577574f48e5f.jpg);
}

#Div
{
    height:100px;
    width: 100px;
    background-color: pink;  
    border: 3px solid black;
    text-align: right;
   

}


h1{
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    text-align: center;
    border-width: 3px;
    border-style: dotted;
    border-color :blue;
}

div {
    text-align :center;

    background-color: palevioletred;
    height: 100px ;
    width:100px ;
    border-radius: 20px; 
    border-top: 1px ;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;

}
